[submodule "Saturno.CICD"]
	path = Saturno.CICD
	url = https://github.com/SaturnoSoftware/Saturno.CICD.git
[submodule "libs/Saturno.VSCodeKit"]
	path = libs/Saturno.VSCodeKit
	url = https://github.com/SaturnoSoftware/Saturno.VSCodeKit.git
