.vscode/**
.vscode-test/**
.github/**
src/**
libs/**
tests/**
Scripts/**
Saturno.CICD/**
_SATURNO/**
Saturno.VSCodeFancyHeader.Internal/**
Saturno.VSCodeFancyHeader.Interval/**
__BUILD/**
__DIST/**
.gitignore
.gitmodules
.eslintrc.json
.clang-format
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
out/tests/**
